bleach==3.3.0
catboost==0.26.1
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.4
cycler==0.10.0
docutils==0.17.1
fonttools==4.25.0
flask
gunicorn
graphviz==0.17
idna==2.10
importlib-metadata==4.6.1
joblib==1.0.1
keyring==23.0.1
matplotlib
munkres==1.1.4
numexpr
numpy
olefile
packaging==21.0
pandas
Pillow
pkginfo==1.7.1
plotly==5.3.1
Pygments==2.9.0
pyparsing==2.4.7
python-dateutil
pytz
pywin32-ctypes==0.2.0
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
scikit-learn==0.24.2
scipy
seaborn
six
sklearn
tenacity==8.0.1
threadpoolctl==2.2.0
tornado
tqdm==4.61.2
twine==3.4.1
webencodings==0.5.1
wincertstore==0.2
zipp==3.5.0
